@using Rafidah.Business.ViewModels.City
@model CityUpdateVm
<div class="container">
    <h1>Update City</h1>
    <form method="post">
        <div class="mb-3">
            <label asp-for="CityName" class="form-label">Name</label>
            <input asp-for="CityName" type="text" class="form-control">
            <span asp-validation-for="CityName" style="color:red"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>