<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Table Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Category</td>
            <td>
                <a asp-action="Index" asp-controller="Category" class="btn btn-info">Info</a>
            </td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Country</td>
            <td>
                <a asp-action="Index" asp-controller="Country" class="btn btn-info">Info</a>
            </td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>City</td>
            <td>
                <a asp-action="Index" asp-controller="City" class="btn btn-info">Info</a>
            </td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Gender</td>
            <td>
                <a asp-action="Index" asp-controller="Gender" class="btn btn-info">Info</a>
            </td>
        </tr>
    </tbody>
</table>