@using Rafidah.Business.ViewModels.Language
@model LanguageUpdateVm
<div class="container">
    <h1>Update Language</h1>
    <form method="post">
        <div class="mb-3">
            <label asp-for="LanguageName" class="form-label">Name</label>
            <input asp-for="LanguageName" type="text" class="form-control">
            <span asp-validation-for="LanguageName" style="color:red"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>