<br />
<br />
<!-- Breadcumb Sections -->
<section class="breadcumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcumb-style1">
                    <div class="breadcumb-list">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                        <a asp-action="Index" asp-controller="Employer">Employers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Breadcumb Sections -->
<section class="breadcumb-section pt-0">
    <div class="cta-employee-single cta-banner mx-auto maxw1700 pt120 pb120 bdrs16 position-relative d-flex align-items-center mx20-lg px30-lg">
        <img class="service-v1-vector at-job bounce-x d-none d-xl-block" src="~/assets/images/vector-img/vector-service-v1.png" alt="">
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-xl-7">
                    <div class="position-relative">
                        <h2>Employer List</h2>
                        <p class="text">All the Lorem Ipsum generators on the Internet tend to repeat.</p>
                    </div>
                    <div class="advance-search-tab bgc-white p10 bdrs4 mt30">
                        <div class="row">
                            <div class="col-md-5 col-lg-6 col-xl-6">
                                <div class="advance-search-field bdrr1 bdrn-sm">
                                    <form class="form-search position-relative">
                                        <div class="box-search bb1-sm">
                                            <span class="icon fas fa-search"></span>
                                            <input class="form-control" type="text" name="search" placeholder="What are you looking for?">
                                            <div class="search-suggestions">
                                                <h6 class="fz14 ml30 mt25 mb-3">Popular Search</h6>
                                                <div class="box-suggestions">
                                                    <ul class="px-0 m-0 pb-4">
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile app development</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile app builder</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile legends</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile app ui ux design</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile game app development</div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="info-product">
                                                                <div class="item_title">mobile app design</div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-xl-3">
                                <div class="bselect-style1">
                                    <select class="selectpicker" data-width="100%">
                                        <option>City, state, or zip</option>
                                        <option data-tokens="Graphics&Design">Graphics & Design</option>
                                        <option data-tokens="DigitlMarketing">Digital Marketing</option>
                                        <option data-tokens="Writing&Translation">Writing & Translation</option>
                                        <option data-tokens="Video&Animation">Video & Animation</option>
                                        <option data-tokens="Music&Audio">Music & Audio</option>
                                        <option data-tokens="Programming&Tech">Programming & Tech</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-3">
                                <div class="text-center text-xl-start">
                                    <a class="ud-btn btn-thm2 w-100 vam" href="#">Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Listings All Lists -->
<section class="pt30 pb90">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="list-sidebar-style1 d-none d-lg-block">
                    <div class="accordion" id="accordionExample">
                        <div class="card mb20 pb10 mt-0">
                            <div class="card-header active" id="heading0">
                                <h4>
                                    <button class="btn btn-link ps-0 pt-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapse0">Category</button>
                                </h4>
                            </div>
                            <div id="collapse0" class="collapse show" aria-labelledby="heading0" data-parent="#accordionExample">
                                <div class="card-body card-body px-0 pt-0">
                                    <div class="checkbox-style1 mb15">
                                        <label class="custom_checkbox">
                                            Designer
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span class="right-tags">(1,945)</span>
                                        </label>
                                        <label class="custom_checkbox">
                                            Web Developers
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                            <span class="right-tags">(8,136)</span>
                                        </label>
                                        <label class="custom_checkbox">
                                            Illustrators
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span class="right-tags">(917)</span>
                                        </label>
                                        <label class="custom_checkbox">
                                            Node.js
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span class="right-tags">(240)</span>
                                        </label>
                                        <label class="custom_checkbox">
                                            Project Managers
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span class="right-tags">((2,460)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb20 pb5">
                            <div class="card-header active" id="heading3">
                                <h4>
                                    <button class="btn btn-link ps-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">No of Employees</button>
                                </h4>
                            </div>
                            <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordionExample">
                                <div class="card-body card-body px-0 pt-0">
                                    <div class="checkbox-style1">
                                        <label class="custom_checkbox">
                                            1-10
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span class="right-tags">(1,945)</span>
                                        </label>
                                        <label class="custom_checkbox">
                                            11-20
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                            <span class="right-tags">(8,136)</span>
                                        </label>
                                        <label class="custom_checkbox">
                                            21-30
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span class="right-tags">(917)</span>
                                        </label>
                                        <label class="custom_checkbox">
                                            Less then 50
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                            <span class="right-tags">(240)</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row align-items-center mb20">
                    <div class="col-md-6">
                        <div class="text-center text-md-start">
                            <p class="text mb-0 mb10-sm"><span class="fw500">5,512</span> services available</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="page_control_shorting d-md-flex align-items-center justify-content-center justify-content-md-end">
                            <div class="dropdown-lists d-block d-lg-none me-2 mb10-sm">
                                <ul class="p-0 mb-0 text-center text-md-start">
                                    <li>
                                        <!-- Advance Features modal trigger -->
                                        <button type="button" class="open-btn filter-btn-left"> <img class="me-2" src="~/assets/images/icon/all-filter-icon.svg" alt=""> All Filter</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="pcs_dropdown dark-color pr10 text-center text-md-end">
                                <span>Sort by</span>
                                <select class="selectpicker show-tick">
                                    <option>Best Selling</option>
                                    <option>Recommended</option>
                                    <option>New Arrivals</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-1.png" alt="">
                                <h6 class="mb-0 ml20">Mailchimp</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-3.png" alt="">
                                <h6 class="mb-0 ml20">Dropbox</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-6.png" alt="">
                                <h6 class="mb-0 ml20">Medium</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-5.png" alt="">
                                <h6 class="mb-0 ml20">Invision</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-8.png" alt="">
                                <h6 class="mb-0 ml20">Mailchimp</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-7.png" alt="">
                                <h6 class="mb-0 ml20">Dropbox</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-4.png" alt="">
                                <h6 class="mb-0 ml20">Medium</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-3.png" alt="">
                                <h6 class="mb-0 ml20">Invision</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-6.png" alt="">
                                <h6 class="mb-0 ml20">Mailchimp</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-1.png" alt="">
                                <h6 class="mb-0 ml20">Dropbox</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-3.png" alt="">
                                <h6 class="mb-0 ml20">Medium</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="job-list-style1 bdr1 pb10">
                            <div class="icon d-flex align-items-center mb20">
                                <img class="wa" src="~/assets/images/team/client-6.png" alt="">
                                <h6 class="mb-0 ml20">Invision</h6>
                                <span class="fav-icon flaticon-star"></span>
                            </div>
                            <div class="details">
                                <p class=""><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color">4.9</span> (595 reviews)</p>
                                <p class="list-inline-item mb-3">London, UK</p>
                                <p class="list-inline-item mb-3 bdrl1 pl15">Open 29 Jobs</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mbp_pagination mt30 text-center">
                        <ul class="page_navigation">
                            <li class="page-item">
                                <a class="page-link" href="#"> <span class="fas fa-angle-left"></span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item d-inline-block d-sm-none"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item d-none d-sm-inline-block"><a class="page-link" href="#">...</a></li>
                            <li class="page-item d-none d-sm-inline-block"><a class="page-link" href="#">20</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
                            </li>
                        </ul>
                        <p class="mt10 mb-0 pagination_page_count text-center">1 – 20 of 300+ property available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>