@using Rafidah.MVC.ViewModels
@model RegisterVm
<br />
<br />
<!-- Breadcumb Sections -->
<section class="breadcumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcumb-style1">
                    <div class="breadcumb-list">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                        <a asp-action="Register" asp-controller="Account">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- Our SignUp Area -->
        <form method="post" class="our-register">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-auto wow fadeInUp" data-wow-delay="300ms">
                        <div class="main-title text-center">
                            <h2 class="title">Register</h2>
                            <p class="paragraph">Give your visitor a smooth online experience with a solid UX design</p>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeInRight" data-wow-delay="300ms">
                    <div class="col-xl-6 mx-auto">
                        <div class="log-reg-form search-modal form-style1 bgc-white p50 p30-sm default-box-shadow1 bdrs12">
                            <div class="mb30">
                                <h4>Let's create your account!</h4>
                                <p class="text mt20">Already have an account? <a asp-action="Login" asp-controller="Account" class="text-thm">Log In!</a></p>
                            </div>
                            <div class="mb25">
                                <label asp-for="Name" class="form-label fw500 dark-color">FullName</label>
                                <input asp-for="Name" class="form-control" placeholder="FullName">
                            </div>
                            <div class="mb25">
                                <label asp-for="UserName" class="form-label fw500 dark-color">Username</label>
                                <input asp-for="UserName" class="form-control" placeholder="Username">
                            </div>
                            <div class="mb25">
                                <label asp-for="Email" class="form-label fw500 dark-color">Email</label>
                                <input asp-for="Email" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="mb15">
                                <label asp-for="Password" class="form-label fw500 dark-color">Password</label>
                                <input asp-for="Password" class="form-control" placeholder="*******">
                            </div>
                            <div class="mb15">
                                <label asp-for="ConfirmPassword" class="form-label fw500 dark-color">Confirm Password</label>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="*******">
                            </div>
                            <div class="d-grid mb20">
                                <button type="submit" class="ud-btn btn-thm default-box-shadow2">Create Account <i class="fal fa-arrow-right-long"></i></button>
                            </div>
                            <div class="hr_content mb20"><hr><span class="hr_top_text">OR</span></div>
                            <div class="d-md-flex justify-content-between">
                                <button class="ud-btn btn-fb fz14 fw400 mb-2 mb-md-0" type="button"><i class="fab fa-facebook-f pr10"></i> Continue Facebook</button>
                                <button class="ud-btn btn-google fz14 fw400 mb-2 mb-md-0" type="button"><i class="fab fa-google"></i> Continue Google</button>
                                <button class="ud-btn btn-apple fz14 fw400" type="button"><i class="fab fa-apple"></i> Continue Apple</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>